 *{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.6;
    background: #ffffff;
   
}


.navbar {
    
    top: 0;
    background: #003366;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    /* z-index: 1000; */
}

.logo {
    font-size: 20px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}


.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background: white;
    list-style: none;
    top: 30px;
    min-width: 150px;
}

.dropdown-menu li a {
    display: block;
    padding: 10px;
    color: #003366;
}

.dropdown:hover .dropdown-menu {
    display: block;
}
.card-container {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.section {
    padding: 50px 30px;
}

.intro {
    background: #f2f2f2;
}

.card {
    background: #e6ecff;
    padding: 20px;
    border-radius: 6px;
    flex: 1;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-top: 20px;
}

.gallery img {
    width: 100%;
    border-radius: 6px;
}

.notice {
    
    top: 80px;
    background: lightblue;
    padding: 15px;
    font-weight: bold;
    border-radius: 5px;
    margin: 20px 0;
}





.display-box {
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
}



.none {
    display: none;
}


.footer {
    background: #003366;
    color: white;
    text-align: center;
    padding: 15px;
}



